default: &default
  adapter:  postgis
  encoding: unicode
  pool:     <%= ENV.fetch("RAILS_MAX_THREADS") { 8 } %>
  username: <%= ENV.fetch("PGUSER", "drruby") %>
  host:     <%= ENV.fetch("PGHOST", "/tmp") %>
  port:     <%= ENV.fetch("PGPORT", 5432) %>
  # If DATABASE_URL is set, Rails will prefer it over the other fields.
  url:      <%= ENV["DATABASE_URL"] %>

development:
  <<: *default
  database: amigos_unite_api_development

test:
  <<: *default
  database: amigos_unite_api_test

production:
  <<: *default
  database: amigos_unite_api_production
  username: <%= ENV.fetch("AMIGOS_UNITE_API_DB_USER", "amigos_unite_api") %>
  password: <%= ENV["AMIGOS_UNITE_API_DATABASE_PASSWORD"] %>
