default: &default
  adapter: postgis
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 8 } %>
  username: drruby
  host: /tmp
  port: 5432

development:
  <<: *default
  database: amigos_unite_api_development

test:
  <<: *default
  database: amigos_unite_api_test

production:
  <<: *default
  database: amigos_unite_api_production
  username: amigos_unite_api
  password: <%= ENV["AMIGOS_UNITE_API_DATABASE_PASSWORD"] %>
